<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adroidtech.turnstr2">

    <uses-sdk tools:overrideLibrary="com.stfalcon.multiimageview" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- min 16 -->
    <application
        android:name=".chat.activitys.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivtiy"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activitys.AllFriendList"
            android:label="New Chat?"
            android:screenOrientation="portrait" />

        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id" /> -->


        <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->

        <activity android:name=".chat.groupchannel.CreateGroupChannelActivity" />
        <activity android:name=".chat.groupchannel.GroupChannelActivity" />
        <activity android:name=".chat.groupchannel.InviteMemberActivity" />
        <activity android:name=".chat.groupchannel.MemberListActivity" />
        <activity
            android:name=".Utils.chatUtils.PhotoViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utils.chatUtils.MediaPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".imageFillters.ImageFillterSettingActivity" /> -->

        <service android:name=".chat.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".chat.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.CreateStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GalleryImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".videoChat.MainVideoActivity" />
        <activity android:name=".chat.activitys.AllFriendListVideo" />
        <activity
            android:name=".Activity.ViewStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewFullScrrenStoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.FriendsProfileActivity"></activity>
    </application>

</manifest>